body {
    font-family: Arial, sans-serif;
    background: #1e1f23;
    color: #e4e4e4;
    text-align: center;
    margin: 0;
}

h1 {
    margin-top: 120px;
    color: #ffffff;
    font-size: 42px;
}

.menu {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.btn {
    text-decoration: none;
    padding: 25px 45px;
    background: #2b2d31;
    color: white;
    font-size: 22px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.6);
    transition: 0.3s;
    border: 2px solid transparent;
}

.btn:hover {
    background: #5865f2;
    transform: translateY(-6px);
    border-color: #8ea1ff;
}
