body {
    font-family: Arial, sans-serif;
    background: #cfc3a5;
    text-align: center;
}

h1 {
    color: darkred;
    margin: 30px 0;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: #d7cc7a;
    padding: 25px;
    border-radius: 15px;
    width: 230px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.card input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

button {
    padding: 8px 18px;
    margin-top: 10px;
    cursor: pointer;
}

p {
    font-weight: bold;
    margin-top: 10px;
}